body{
    background-color: wheat;
    color: black;
}

header{
    position: relative;
    align-items: center;
    padding: 0px 40px 0px 25px;
}

a{
    font-size: 19px;
    text-decoration: underline;
    float: left;
    color: black;
}
h2{
    display: flex;
    justify-content: center;
    padding-top: 280px;
    font-size: 30px;
}

#questions button{
    display: block;
}

#homePage{
    text-align: center;
}

h3{
    float: right;

}

button{
    display: flex;
    justify-content: center;
    color: white;
    border: 3px solid red;
    width: 90px;
    height: 30px;
    margin-left: 50%;
    padding: 5px; 
    cursor: pointer;
    transition: 0.15s;
    transition-timing-function: linear;
    background-color: darkblue;
    border-radius: 8px;
    transition-property: all;
}

article{
    padding-top: 20px;
    border-top: 2px red;
}

button:hover{
background-color: black;
}

p{
    display: flex;
    justify-content: center;
    font-size: 16px;
}

aside{
display: flex;
}

aside input{
border: 3px, black;
height: 24px;
}

aside button{
    font-size: 14px;
    height: 14px;
    padding: 0;
    width: 100px;
    border-radius: 2px;
}